.table th, .table td{
	padding: 2px;
}

.table-fixed  tbody{
    height:360px;
    overflow-y:auto;
    width: 100%;
    }

.table-fixed thead,tbody,tr,td,th{
    display:block;
 }
 
 .table-fixed thead tr th{
 	float: left;
 }
 
 .table-fixed tbody td{
 	float: left;
 }
 
 .table tr{
 	clear: left;
 }