
.vform,.kform{
	float: left;
}

.kiv,.vipkiv{
	float:left;
	padding: 0px 10px;
	width:100%;
}

.kiv > input,.vipkiv > input{
	width: 50%;
	margin: 0px 0px 0px 10px;
	clear: right;
}

.vipkiv> input[type="submit"],.kiv > input[type="submit"]{
	display: block;
	clear: left;
	width: 80px;
	padding: 0px;
	margin: 0px;
}

.table > thead > tr > th{
	width: 14.28%;
}

.table > tbody > tr > td{
	width: 14.28%;
}