
.tablakiv{
	float: left;
	clear: both;
	width: 100%;
}

.vipkiv{
	float:left;
}

.vipkiv > input{
	width: 40%;
	margin: 0px 0px 0px 10px;
}

.kiv{
	float:left;
	width: 50%;
}

.vipkiv,.kiv{ padding: 0px 10px;}

.kiv >input{
	width: 40%;
	margin: 0px 20px;
}

.vipkiv> input[type="submit"],.kiv > input[type="submit"]{
	display: block;
	clear: left;
	width: 80px;
	padding: 0px;
	margin: 0px;
}

.table > thead > tr > th{
	width: 14.28%;
}

.table > tbody > tr > td{
	width: 14.28%;
}